@model SalesWebMvc.Models.ViewModels.VendeurFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Vendeur.Id" />
            <div class="form-group">
                <label asp-for="Vendeur.NomComplet" class="control-label"></label>
                <input asp-for="Vendeur.NomComplet" class="form-control" />
                <span asp-validation-for="Vendeur.NomComplet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendeur.Email" class="control-label"></label>
                <input asp-for="Vendeur.Email" class="form-control" />
                <span asp-validation-for="Vendeur.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendeur.DateNaissance" class="control-label"></label>
                <input asp-for="Vendeur.DateNaissance" class="form-control" />
                <span asp-validation-for="Vendeur.DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendeur.SalaireBase" class="control-label"></label>
                <input asp-for="Vendeur.SalaireBase" class="form-control" />
                <span asp-validation-for="Vendeur.SalaireBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendeur.DepartementId" class="control-label"></label>
                <select asp-for="Vendeur.DepartementId" asp-items="@(new SelectList(Model.Departements,"Id",
                "Nom"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}